.hide {
  opacity: 0;
}
.hideDisplay {
  display: none;
}
input {
  text-align: center;
}
.debug {
  opacity: 1;
  border: 1px solid red;
  background-color: blue;
}
.production-invisible {
  opacity: 0;
}
.txtCommon {
  position: absolute;
  background-color: transparent;
  border-style: hidden;
  outline: none;
  font-size: 1.2em;
}

.btnCommon {
  @extend .hide;
  position: absolute;
}
.popup {
  position: absolute;
  top: 17%;
  right: 18%;
  background-color: #fff;
  width: 56%;
  border: 1px solid #000;
  padding: 5%;
  direction: rtl;
  z-index: 9;
  padding: 5%;
  .content {
    font-size: 1.6em;
    margin-bottom: 30%;
  }
  .popupOkBtn {
    width: 50%;
    height: 50%;
  }
}

.confirm {
  position: absolute;
  top: 17%;
  right: 18%;
  background-color: #fff;
  width: 56%;
  border: 1px solid #000;
  padding: 5%;
  direction: rtl;
  z-index: 9;
  padding: 5%;
  .content {
    font-size: 1.6em;
    margin-bottom: 30%;
  }
  .confirmOkBtn {
    width: 50%;
    height: 50%;
  }
  .confirmRejectBtn {
    width: 50%;
    height: 50%;
  }
}

.textboxArea {
  margin-top: 10%;
  position: relative;
  width: 100%;

  .TextBoxSVG {
    position: relative;
    top: 0;
  }
  .textboxInput {
    @extend .txtCommon;
    position: relative;
    right: 0;
    top: -40px;
  }
}
.SubmitButtonSVG {
  width: 20%;
  position: relative;
  float: right;
  top: -20%;
  right: 10%;
}
.GiveFamilyPermissionArea {
  direction: rtl;
  .permission {
    width: 80%;
  }
  .checkbox {
    width: 30%;
    position: relative;
    right: 2%;
  }
}
body {
  // background-color: green;
  direction: rtl;
  .appContainer {
    max-width: 1080px;
    // height: 100vh;
    position: relative;
    margin: 0 auto;
  }
  .appContainer.home {
    padding-top: 15%;
  }
  .appContainer.search,
  .appContainer.khunatoBesaz,
  .appContainer.invitationRequests {
    height: 100vh;
  }

  .Area {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: absolute;
    left: 0;
    height: 100vh;
    background-color: #fff;
  }
  .fixedPage {
    width: 100%;
    height: 100%;

    .moonArea {
      .moon {
        img.moonIcon {
          width: 30%;
          height: 30%;
        }
      }
    }
    .AccessArea {
      // transform: scale(0.8);
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      .editBtn {
        position: absolute;
        top: 4%;
        right: 61%;
        width: 16%;
        height: 75%;
      }
    }

    img.deleteBtn {
      width: 10%;
      height: 10% !important;
      position: absolute;
      right: 0;
    }

    img.previewImg {
      width: 40%;
      height: 40%;
      clear: both;
    }
  }

  .captionArea {
    display: block;
    width: 100vw;
    height: 100%;
    .item {
      float: right;
      width: 33%;
    }
    .item.captionTitle {
    }
    .item.captionMoon {
    }
  }

  .captionArea {
    img.moonIcon {
      width: 30%;
    }
  }

  .khunatoBesaz-page {
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #fff;
  }
  .inviteLinkTxt {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 82%;
    height: 10%;
    font-size: 1.3em;
  }
  .invitationRequests-page {
    span.familyTitle {
      text-align: right;
      width: 100%;
      direction: rtl;
      display: block;
      margin-bottom: 5%;
    }
    .addNumberIcon {
      position: absolute;
      top: 20%;
      right: 10%;
      width: 30%;
      // height: 10%;
    }

    .numbersArea {
      position: absolute;
      direction: rtl;
      top: 30%;
      right: 10%;
      height: 60%;
      overflow: scroll;
    }

    .removeIcon {
      width: 6%;
      height: 6%;
    }

    img.confirmOkBtn {
      width: 20%;
      /* position: absolute; */
      /* right: 45%; */
      position: relative;
      left: 10%;
    }

    img.rejectBtn {
      width: 20%;
      /* position: absolute; */
      /* right: 80%; */
      position: relative;
      left: 15%;
    }

    .request {
      position: relative;
      margin-bottom: 10%;
      margin-bottom: 15%;
    }

    .request.joinToFamily {
      float: right;
      direction: rtl;
      padding-right: 4%;
      .actionsArea {
        margin-top: 5%;
      }
      .rejectBtn {
        margin-right: 10%;
      }
    }

    .requestsList {
      position: absolute;
      top: 15%;
      right: 10%;
    }

    // span.actionsArea {
    //   /* float: left; */
    // }
  }
  .common-in-pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img.arrowBackBtn {
    position: absolute;
    top: 0%;
    left: 1%;
    width: 14%;
    height: 14%;
    z-index: 5;
  }
  img.tvIcon {
    position: absolute;
    width: 76%;
    height: 30%;
    left: 13%;
    top: 8%;
    z-index: 1;
  }
  .searchArea {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .uploadAccessBtn {
    position: absolute;
    top: 4%;
    right: 5%;
    width: 16%;
    height: 75%;
    // opacity: 0.5;
    // height: 15%;
  }
  .uploadAccessArea {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100vh;
    background-color: #fff;
    padding-top: 5%;
    padding-right: 10%;
    .title {
      width: 100%;
      img {
        width: 30%;
      }
      // float: right;
    }
    .membersList {
      .member {
        margin-top: 10%;
      }
    }
    .btnArea {
      margin-top: 10%;
    }
  }

  .viewAccessBtn {
    position: absolute;
    top: 4%;
    right: 26%;
    opacity: 0.5;
    width: 18%;
    height: 75%;
  }
  .uploadFileBtn {
    position: absolute;
    top: 4%;
    right: 43%;
    width: 20vw;
    height: 10vh;
  }

  .viewAccessArea {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 5%;
    padding-right: 10%;
    .membersList {
      float: right;
      direction: rtl;
    }
  }
  .uploadFileArea {
    .upload-page {
      .fileInput {
        @extend .btnCommon;
        top: 40%;
        right: 30%;
        width: 60%;
        height: 16%;
      }
      .whoCanSeeLabel {
        width: 20%;
        display: block;
        background-repeat: no-repeat;
        direction: rtl;
        float: right;
      }
      .startUpload {
        @extend .btnCommon;
        top: 60%;
        right: 30%;
        width: 60%;
        height: 16%;
      }
      .uploading {
        .uploadPercent {
          position: absolute;
          top: 50%;
          left: 36%;
          font-size: 3em;
        }
      }

      .additionalData {
        height: 90%;
        position: absolute;
        width: 100%;
        top: 80%;
        .whoCanSee {
          height: 10%;
        }
        .metadata {
          height: 35%;
        }
        span.field {
          position: absolute;
          right: 14%;
        }
        img {
          position: absolute;
          width: 42%;
          right: 35%;
        }
        textarea.text {
          @extend .txtCommon;
          position: absolute;
          right: 38%;
          width: 36%;
          height: 24%;
          top: 13%;
          direction: rtl;
        }

        .captureVideoArea {
        
        }
      }

      
    }
  }

  .searchTxt {
    background-color: transparent;
    border-style: hidden;
    outline: none;
    position: absolute;
    top: 8%;
    left: 33%;
    width: 55%;
    height: 5%;
    font-size: 2em;
  }
  .searchResult {
    position: absolute;
    top: 18%;
    right: 15%;
    ul {
      list-style: none;
      li {
        text-align: right;
        font-size: 2em;
        margin-bottom: 10%;
      }
    }
  }

  .searchBarIcon {
    position: absolute;
    top: 2%;
    left: 90%;
    width: 10%;
    height: 10%;
    z-index: 9;
  }

  .navbar {
    position: fixed;
    left: 1%;
    width: 100%;
    z-index: 9;
    bottom: 0%;
    background-color: 0;
    height: 7%;
    // background: red;
  }
  .inviteOthersIcon {
    // border-right: 1px solid #000;
    position: absolute;
    left: 1%;
    width: 30%;
    z-index: 9;
    bottom: 2%;
  }
  .HomeIcon {
    // border-right: 1px solid #000;
    position: fixed;
    right: 42%;
    width: 15%;
    z-index: 9;
    bottom: 1%;
  }
  .InvitationRequestsIcon {
    // border-right: 1px solid #000;
    position: absolute;
    right: 2%;
    width: 25%;
    z-index: 9;
    bottom: 2%;
  }

  .otp-phone-page {
    @extend .common-in-pages;
    // border: 10px solid red;
    top: 7%;
    height: 100%;
    .countryCode {
      width: 15%;
      position: absolute;
      top: 50%;
      left: 17%;
      height: 9%;
      background-color: transparent;
      border-style: hidden;
      outline: none;
    }
    #otp-phone {
      position: absolute;
      top: 50%;
      left: 15%;
      height: 10%;
      width: 70%;
      background-color: transparent;
      border-style: hidden;
      outline: none;
      font-size: 2em;
    }
    #otp-submit {
      @extend .hide;
      position: absolute;
      top: 61%;
      left: 38%;
      height: 10%;
      width: 20%;
    }
  }
  .otp-verify-page {
    // border: 10px solid red;
    @extend .common-in-pages;
    top: 5%;
    height: 100%;
    #otp-code {
      position: absolute;
      top: 48%;
      left: 20%;
      height: 10%;
      width: 65%;
      background-color: transparent;
      border-style: hidden;
      outline: none;
      font-size: 2em;
    }
    #otp-submit {
      @extend .hide;
      position: absolute;
      top: 61%;
      left: 38%;
      height: 10%;
      width: 20%;
    }
    .resendOTPBtn {
      @extend .hide;
      position: absolute;
      top: 80%;
      left: 30%;
      width: 35%;
      height: 10%;
    }
  }
  .DoorBell-page {
    @extend .common-in-pages;
    height: 100%;
    .pelak {
      width: 24%;
      height: 10%;
      position: absolute;
      top: 9%;
      right: 37%;
      font-size: 2em;
      // background: #fff;
    }
    .bellName {
      position: absolute;
      top: 51%;
      right: 37%;
      // background-color: #fff;
      z-index: 9;
      width: 30%;
      height: 6%;
      direction: rtl;
      padding: 2%;
      font-size: 1.2em;
    }
    .bellBtn {
      position: absolute;
      top: 50%;
      left: 65%;
      height: 10%;
      width: 20%;
    }
    .gallery {
      .galleryList {
        width: 40%;
        .box {
          position: absolute;
          width: 50%;
          img {
            width: 30%;
            border: 1px solid grey;
            border-radius: 2em;
          }
        }
        .box1 {
          left: 25%;
          top: 26%;
        }
        .box2 {
          left: 50%;
          top: 26%;
        }
        .box3 {
          left: 25%;
          top: 36%;
        }
        .box4 {
          left: 50%;
          top: 36%;
        }
      }
      .singleItem {
        img {
          width: 30%;
          position: absolute;
          top: 26%;
          left: 30%;
          border: 1px solid grey;
          border-radius: 2em;
        }
      }
    }
    .FamilyMembersImageBox {
      .familyMembersImage {
        position: absolute;
        top: 60%;
        height: 100%;

        .images {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          .box {
            position: absolute;
            top: 21%;
            width: 12%;
            left: 43%;
            height: 7%;
            // background-color: #000;
            img {
              width: 100%;
              border: 1px solid grey;
              border-radius: 2em;
            }
          }
          .numOfMembers_1 {
            .box1 {
            }
          }
          .numOfMembers_2 {
            .box1 {
            }
            .box2 {
              top: 38%;
            }
          }
          .numOfMembers_3 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 38%;
              left: 52%;
            }
          }
          .numOfMembers_4 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 38%;
              left: 40%;
            }
            .box4 {
              top: 38%;
              left: 62%;
            }
          }
          .numOfMembers_5 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 63%;
            }
            .box3 {
              top: 38%;
              left: 31%;
            }
            .box4 {
              top: 38%;
              left: 52%;
            }
            .box5 {
              top: 38%;
              left: 70%;
            }
          }
          .numOfMembers_6 {
            .box1 {
              left: 32%;
            }
            .box2 {
              top: 21%;
              left: 52%;
            }
            .box3 {
              top: 21%;
              left: 72%;
            }
            .box4 {
              top: 38%;
              left: 31%;
            }
            .box5 {
              top: 38%;
              left: 52%;
            }
            .box6 {
              top: 38%;
              left: 70%;
            }
          }
          .numOfMembers_7 {
            .box1 {
              left: 42%;
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 39%;
              left: 31%;
            }
            .box4 {
              top: 39%;
              left: 52%;
            }
            .box5 {
              top: 39%;
              left: 71%;
            }
            .box6 {
              top: 52%;
              left: 50%;
            }
            .box7 {
              top: 70%;
              left: 50%;
            }
          }
          .numOfMembers_8 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 39%;
              left: 31%;
            }
            .box4 {
              top: 39%;
              left: 51%;
            }
            .box5 {
              top: 39%;
              left: 71%;
            }
            .box6 {
              top: 52%;
              left: 38%;
            }
            .box7 {
              top: 52%;
              left: 64%;
            }
            .box8 {
              top: 69%;
              left: 50%;
            }
          }
          .numOfMembers_9 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 39%;
              left: 30%;
            }
            .box4 {
              top: 39%;
              left: 52%;
            }
            .box5 {
              top: 39%;
              left: 70%;
            }
            .box6 {
              top: 52%;
              left: 38%;
            }
            .box7 {
              top: 52%;
              left: 64%;
            }
            .box8 {
              top: 70%;
              left: 37%;
            }
            .box9 {
              top: 70%;
              left: 67%;
            }
          }
          .numOfMembers_10 {
            .box1 {
            }
            .box2 {
              top: 21%;
              left: 62%;
            }
            .box3 {
              top: 39%;
              left: 30%;
            }
            .box4 {
              top: 39%;
              left: 52%;
            }
            .box5 {
              top: 39%;
              left: 70%;
            }
            .box6 {
              top: 52%;
              left: 38%;
            }
            .box7 {
              top: 52%;
              left: 64%;
            }
            .box8 {
              top: 70%;
              left: 33%;
            }
            .box9 {
              top: 70%;
              left: 52%;
            }
            .box10 {
              top: 70%;
              left: 70%;
            }
          }
        }
      }

      .uploadFileArea {
        .fileInput {
          height: 11%;
        }
        .startUpload {
          top: 54%;
          right: 37%;
          width: 44%;
          height: 13%;
        }
        .uploadPercent {
          position: absolute;
          top: 61%;
          left: 46%;
          font-size: 3em;
        }
        .additionalData {
          position: absolute;
          top: 70%;
        }
        .uploadFailed {
          .retryBtn {
            position: absolute;
            top: 53%;
            width: 40%;
            height: 14%;
            left: 26%;
          }
        }
      }
    }
  }
  .intro-page {
    @extend .common-in-pages;
    .common {
      @extend .hide;
      position: absolute;
      width: 100%;
      height: 10%;
      text-align: center;
    }
    .hottestArea {
      position: absolute;
      top: 25%;
      left: 0%;
      width: 100%;
      height: 70%;
      overflow: scroll;
      .item {
        width: 22%;
        height: 22%;
        .itemName {
          position: relative;
          top: 40%;
        }
      }
      .explorerBucket {
        width: 60%;
        margin: 0 auto;
        position: relative;
      }
      .imgArea {
        width: 100%;
        position: absolute;
        top: 0;
        img {
          width: 100%;
          height: 100%;
          border: 1px solid grey;
          border-radius: 2em;
        }
      }
      .item {
        height: 15%;
        width: 37%;
        left: 10%;
      }

      .item.box1 {
        position: absolute;
        top: 8%;
      }
      .item.box2 {
        position: absolute;
        left: 59%;
        top: 8%;
      }

      .item.box3 {
        position: absolute;
        top: 32%;
      }
      .item.box4 {
        position: absolute;
        left: 59%;
        top: 32%;
      }

      .item.box5 {
        position: absolute;
        top: 53%;
      }

      .item.box6 {
        position: absolute;
        left: 59%;
        top: 53%;
      }

      .item.box7 {
        position: absolute;
        top: 78%;
      }

      .item.box8 {
        position: absolute;
        left: 59%;
        top: 78%;
      }

      .bucket-0 {
        .item.box1,
        .item.box2 {
          top: 17%;
        }

        .item.box3,
        .item.box4 {
          position: absolute;
          top: 38%;
        }

        .item.box5,
        .item.box6 {
          position: absolute;
          top: 58%;
        }

        .item.box7,
        .item.box8 {
          position: absolute;
          top: 80%;
        }
      }
    }
    .khunamoooBebinBtn {
      @extend .common;
      width: 20%;
      height: 20%;
      top: 5%;
      left: 15%;
    }
    .khunatoonoBesazBtn {
      @extend .common;
      width: 20%;
      height: 20%;
      top: 5%;
      left: 70%;
    }
    .arrowBackBtn {
      position: absolute;
      top: -2%;
      left: 5%;
      width: 15%;
      height: 15%;
    }

    .khunatoonoBesazBtn {
    }
  }
  .home-page {
    @extend .common-in-pages;
    .common {
      @extend .hide;
      position: absolute;
      width: 100%;
      height: 10%;
      text-align: center;
    }
    .headerFamilyName {
      text-align: center;
      font-size: 2em;
    }
    .didemoonBtn {
      @extend .btnCommon;
      width: 20%;
      height: 6%;
      position: absolute;
      left: 79%;
    }
    .bazdidemoonBtn {
      @extend .btnCommon;
      width: 47%;
      height: 5%;
      position: absolute;
      left: 12%;
      top: 0;
    }
    .didemoon {
      position: absolute;
      width: 15%;
      height: 15%;
      left: 60%;
      top: 0;
    }
    .bazdidemoon {
      position: absolute;
      width: 15%;
      height: 15%;
      left: 20%;
      top: 0;
    }
    .didemoonBazdidemoonAnimation {
      overflow: hidden;
      margin: 0px auto;
      outline: none;
      position: absolute;
      width: 100%;
      right: 0;
      border: 18%;
      top: -2%;
    }

    #ashpazkhunamoon {
      @extend .common;
      top: 32%;
      width: 29%;
      left: 23%;
      height: 11%;
    }
    #taghvimemoon {
      @extend .common;
      top: 33%;
      width: 24%;
      left: 59%;
      height: 10%;
    }
    #axamoon {
      @extend .common;
      top: 9%;
      width: 25%;
      left: 56%;
      height: 8%;
    }
    #ahangamoon {
      @extend .common;
      top: 20%;
      width: 25%;
      height: 8%;
      left: 55%;
    }
    #honarhamoon {
      @extend .common;
      top: 46%;
      width: 25%;
      height: 8%;
      left: 61%;
    }
    #ketabkhunamoon {
      @extend .common;
      top: 45%;
      width: 25%;
      height: 10%;
      left: 26%;
    }
    #filmamoon {
      @extend .common;
      top: 19%;
      width: 25%;
      height: 10%;
      left: 24%;
    }
    #chalenjamoon {
      @extend .common;
      top: 60%;
      width: 25%;
      height: 15%;
      left: 55%;
    }
    #baziamoon {
      @extend .common;
      top: 9%;
      width: 30%;
      height: 7%;
      left: 23%;
    }
    #khaterehamoon {
      @extend .common;
      top: 58%;
      width: 28%;
      height: 10%;
      left: 59%;
    }

    #panjerehamoon {
      @extend .common;
      top: 58%;
      width: 28%;
      height: 10%;
      left: 22%;
    }

    #shabamoon {
      @extend .common;
      top: 71%;
      width: 28%;
      height: 10%;
      left: 59%;
    }

    #mehmooniamoon {
      @extend .common;
      top: 71%;
      width: 28%;
      height: 10%;
      left: 22%;
    }

    #chamedoon {
      @extend .common;
      top: 84%;
      width: 28%;
      height: 10%;
      left: 37%;
    }
  }

  .shabamoon-page {
    @extend .common-in-pages;
    .backBtn {
      // @extend .debug;
      position: absolute;
      height: 5%;
      top: 2%;
    }
    .gotoChallengeBtn {
      position: absolute;
      top: 79%;
      height: 15%;
      width: 40%;
      left: 32%;
    }
    .seekerLine {
      position: absolute;
      top: 30%;
      left: 25%;
      width: 44%;
      z-index: 2;
    }
    .videoplayer {
      .videoPlayerPlayBtn {
        position: absolute;
        top: 29%;
        left: 19%;
        padding: 0%;
        width: 5%;
        height: 5%;
        z-index: 2;
      }
      .expandBtn {
        position: absolute;
        top: 30%;
        right: 24%;
        width: 5%;
        height: 5%;
        z-index: 2;
      }
      .videos-list {
        position: absolute;
        top: 47%;
        left: 13%;
        width: 80%;
        height: 20%;
        overflow: scroll;
      }
    }
  }
  .khodemooniamoon-page {
    @extend .common-in-pages;
    height: 100%;
    .topbar {
      height: 10%;
      .backBtn {
        top: 7%;
      }
    }
    .playerArea {
      img.tvIcon {
        position: absolute;
        width: 76%;
        height: 30%;
        left: 15%;
        top: -2%;
        z-index: 1;
      }
      position: relative;
      top: 12%;
      height: 80%;
      .videoplayer {
        height: 100%;
        .actionsArea {
          top: 38%;
        }
        .videos-list {
          top: 48%;
          left: 20%;
          width: 65%;
          height: 44%;
        }
        #video-player {
          top: 2%;
          left: 20%;
        }
        .videoPlayerPlayBtn {
          top: 19%;
          left: 22%;
        }
        .seekerLine {
          top: 20%;
          left: 30%;
          width: 44%;
          z-index: 2;
        }
        .expandBtn {
          top: 20%;
        }
        .actionsArea {
          top: 30%;
          span.moonCount {
            position: absolute;
            top: 20%;
            right: 22%;
            font-size: 1.4em;
          }
        }
      }
    }
  }
  .search-page {
    @extend .common-in-pages;
    .searchArea {
    }
  }
  .movieLovee-page {
    @extend .common-in-pages;
    height: 100%;
    .tvIcon {
      display: none;
    }
    .playerArea {
      position: relative;
      top: 5%;
      left: 13%;
      height: 80%;
      .seekerLine {
        width: 48%;
      }
      .expandBtn {
        right: 28%;
      }
      .actionsArea {
        top: 37%;
        right: 22%;
      }
      .videoplayer {
        height: 100%;
        .videos-list {
          top: 57%;
          left: auto;
          right: 20%;
        }
      }
      .videoPlayerPlayBtn {
        position: absolute;
        top: 18%;
        left: 10%;
        padding: 1%;
        width: 6%;
        height: 6%;
      }
      .seekerLine {
        position: absolute;
        top: 20%;
        left: 18%;
        width: 42%;
      }
      .expandBtn {
        position: absolute;
        top: 19%;
        right: 34%;
        width: 6%;
        height: 6%;
        z-index: 2;
      }
      .actionsArea {
        top: 37%;
        right: 28%;
      }
      .videoplayer {
        .videos-list {
          top: 57%;
          right: 28%;
          width: 66%;
          height: 43%;
        }
        #video-player {
          position: absolute;
          top: 0%;
          left: 15%;
          width: 50%;
          height: 18%;
        }
      }
    }
    .AccessArea {
      position: absolute;
      // bottom: 10%;
      height: 20%;
      width: 100%;
      top: 100%;
    }
  }
  .videoplayer {
    #video-player {
      // @extend .debug;
      @extend .production-invisible;
      position: absolute;
      top: 13%;
      left: 17%;
      width: 64%;
      height: 18%;
      // z-index: -1;
    }
    .player-visible {
      opacity: 1 !important;
    }
    .videoPlayerPlayBtn {
      // @extend .debug;
      position: absolute;
      top: 31%;
      left: 8%;
      padding: 1%;
      width: 6%;
      height: 6%;
      z-index: 2;
    }
    .moonLike {
      @extend .common;
      position: absolute;
      top: 40%;
    }
    .likeEffect {
      position: absolute;
      top: -20%;
      right: 10%;
      z-index: 99;
    }
    .cheshmzakhm {
      @extend .common;
      position: absolute;
      top: 40%;
      left: 20%;
    }
    .cheshmzakhmEffect {
      position: absolute;
      top: -15%;
      left: 10%;
      z-index: 99;
    }
    img.downloadIcon {
      position: absolute;
      right: 100%;
      width: 20%;
      height: 20%;
      top: 18%;
    }
    .actionsArea {
      position: absolute;
      top: 32%;
      right: 15%;
      width: 50%;
      height: 25%;

      .moonIcon,
      .espandIcon {
        float: right;
        margin-top: 5%;
        margin-left: 5%;
        width: 40%;
        height: 40%;
      }
    }
    .expandBtn {
      position: absolute;
      top: 30%;
      right: 20%;
      width: 7%;
      height: 7%;
      z-index: 2;
      .expandIcon {
        width: 100%;
        height: 100%;
      }
    }

    .videos-list {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 82%;
      height: 20%;
      overflow: scroll;

      .box {
        text-align: center;
        display: inline-block;
        width: 45%;
        padding-left: 1%;

        img {
          // width: 100%;
          // height: 100%;
          max-width: 100%;
          border-radius: 2em;
          border: 1px solid grey;
        }
      }
    }
  }
  .axamoon-page {
    @extend .common-in-pages;
    // .likeEffect {
    //   position: absolute;
    //   bottom: 100%;
    // }
    .topImage {
      position: absolute;
      left: 22%;
      top: 15%;
      height: 17%;
      width: 51%;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border: 1px solid grey;
        display: block;
        margin: 0 auto;
      }
    }
    .imagesGallery {
      position: absolute;
      top: 51%;
      left: 18%;
      height: 35%;
      overflow: scroll;
      width: 70%;
      .box {
        position: relative;
        width: 33%;
        height: 33%;
        float: left;
        img {
          border: 1px solid grey;
          border-radius: 2em;
          height: 80%;
          max-width: 80%;
        }
      }
    }

    .actionsArea {
      position: absolute;
      top: 38%;
      left: 40%;
      width: 45%;
      .moonCount {
        position: absolute;
        right: 15%;
      }
      .moonIcon {
        padding-left: 10%;
        float: right;
      }
      .espandIcon {
        float: right;
      }
    }
  }
  .chalenjamoon-page {
    @extend .common-in-pages;
    #participateInChallengeBtn {
      @extend .hide;
      position: absolute;
      top: 5%;
      width: 20%;
      height: 10%;
    }
    .participantInChallengeBtn {
      position: absolute;
      top: 50%;
      width: 30%;
      height: 10%;
      left: 25%;
    }
    .thisMusicLink {
      position: absolute;
      width: 15%;
      height: 6%;
      top: 40%;
      left: 70%;
      z-index: 2;
    }
    .popupMsg {
      position: fixed;
      top: 8%;
      .confirmBtn {
        position: absolute;
        width: 25%;
        height: 10%;
        top: 50%;
        left: 45%;
      }
    }
  }
  .chalenjamoon-page.back-to-home {
    .thisMusicLink {
      top: 35%;
      left: 74%;
    }
  }
  .backBtn {
    @extend .hide;
    position: absolute;
    top: 2%;
    width: 20%;
    height: 10%;
  }
  .ahangamoon-page {
    @extend .common-in-pages;
    > .arrowBackBtn {
      opacity: 0;
    }
    .imagesArea {
      position: absolute;
      top: 22%;

      // left: 2%;
      width: 95%;
      .box {
        float: left;
        width: 10%;
        top: 42%;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
      .box1 {
        position: relative;
        left: 23%;
      }
      .box2 {
        position: relative;
        left: 30%;
      }
      .box3 {
        position: relative;
        left: 36%;
      }
      .box4 {
        position: relative;
        left: 42%;
      }
      .box5 {
        position: relative;
        left: 48%;
      }
    }
    .seekerArea {
      position: absolute;
      top: 78%;
      width: 100%;
      height: 2%;
      z-index: 2;
      .seekerLine {
        position: absolute;
        top: 30%;
        left: 18%;
        width: 64%;
        height: 100%;

        .virtualSeekerLine {
          left: 5%;
          width: 100%;
          height: 2%;
          // border: 2px solid #000;
        }
        .seekerPoint {
          position: absolute;
          top: -10px;
          left: 0%;
          width: 10%;
          height: 10%;
        }
      }
    }
    .controls {
      position: absolute;
      top: 65%;
      left: 25%;
      width: 55%;
      height: 10%;
      .prevBtn {
        // @extend .debug;
        height: 100%;
        width: 30%;
        float: left;
      }
      .nextBtn {
        // @extend .debug;
        height: 100%;
        width: 30%;
        float: right;
      }
    }
    .audioPlayPauseBtn {
      width: 10%;
      position: absolute;
      left: 45%;
      top: 40%;
    }
    .actionsArea {
      position: absolute;
      top: 57%;
      left: 40%;
      width: 40%;

      span.moonCount {
        position: absolute;
        right: 20%;
      }
      .moonIcon {
        padding-left: 10%;
        float: right;
      }
      .espandIcon {
        float: right;
      }
    }
    .playerInfo {
      position: absolute;
      width: 70%;
      top: 85%;
      left: 21%;
      .duration {
        position: absolute;
        width: 100%;
        left: 40%;
        span {
          // float: right;
        }
      }
    }
  }

  .filmamoon-page {
    @extend .common-in-pages;
    .backBtn {
      top: 2%;
    }
    .btnCommon {
      @extend .hide;
      position: absolute;
      top: 15%;
      height: 20%;
      width: 100%;
    }
    .khodemuniamoonBtn {
      @extend .btnCommon;
    }
    .movieLoveeBtn {
      @extend .btnCommon;
      top: 40%;
      height: 30%;
    }
  }
  .baziamoon-page {
    @extend .common-in-pages;
    .dabernaGameStartBtn {
      @extend .hide;
      width: 30%;
      height: 24%;
      position: absolute;
      top: 33%;
      left: 37%;
    }
  }

  .khunatoBesaz-page {
    @extend .common-in-pages;
    .userInfo {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      img.userInfoImg {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 90%;
      }
    }
    .firstNameTxt {
      @extend .txtCommon;
      top: 12%;
      right: 40%;
      width: 38%;
      height: 6%;
    }
    .relationSelect {
      @extend .txtCommon;
      top: 26%;
      right: 40%;
      width: 31%;
      height: 6%;
    }
    .lastNameTxt {
      @extend .txtCommon;
      top: 42%;
      right: 42%;
      width: 35%;
      height: 6%;
    }
    .addMemberBtn {
      @extend .btnCommon;
      top: 48%;
      width: 47%;
      height: 18%;
      right: 35%;
    }
    .membersList {
      position: absolute;
      top: 100%;
      right: 10%;
      font-size: 1.7em;
      width: 70%;
      direction: rtl;
      .member {
        padding: 2%;
      }
      .editBtn {
        width: 10%;
        position: relative;
        right: 15%;
        top: 2%;
      }
      .deleteBtn {
        width: 10%;
        position: relative;
        right: 33%;
        top: 2%;
      }
    }
    .saveAllBtn {
      width: 30%;
      position: absolute;
      top: 72%;
      right: 40%;
    }
    // .relationTxt{
    //   position: absolute;
    //     top: 38%;
    // }
    .memberInfo {
      .firstNameTxt {
      }
      .relationSelect {
        @extend .txtCommon;
        position: absolute;
        top: 25%;
        right: 40%;
        width: 31%;
        height: 9%;
      }
      .lastNameTxt {
        top: 42%;
        right: 40%;
        width: 40%;
      }
      .phoneNumberTxt {
        @extend .txtCommon;
        position: absolute;
        top: 57%;
        right: 41%;
        width: 60%;
        height: 6%;

        input#otp-phone {
          @extend .txtCommon;
          width: 60%;
          left: 39%;
          top: 6%;
          // float: right;
        }
        select.countryCode {
          @extend .txtCommon;
          width: 73%;
          left: 10%;
          top: -86%;

          // float: right;
        }
      }
      .saveMemberBtn {
        position: absolute;
        right: 20%;
        top: 75%;
        width: 50%;
      }
    }
  }
  .didemoon-page {
    @extend .common-in-pages;
    background-color: #fff;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .endSessionIcon {
      position: absolute;
      top: 5%;
      left: 40%;
      width: 30%;
    }
    .callRequests {
      position: absolute;
      top: 8%;
      width: 90%;
      left: 14%;
    }
    .requestForCall {
      position: absolute;
      top: 10%;
      width: 78%;
    }
    .onlineIcon {
      width: 20%;
      height: 20%;
    }
    .callRequestIcon {
      width: 40%;
      height: 40%;
      color: red;
      position: relative;
      left: 10%;
    }
    .acceptCall,
    .rejectCall {
      width: 25%;
      height: 25%;
    }
    #videos-container {
      position: absolute;
      top: 20%;
      left: 5%;
      width: 100%;
      height: 70%;

      .videoContainer {
        float: left;
        width: 30%;
        top: 60%;
      }

      .endCallIcon {
        width: 100%;
        height: 100%;
        display: block;
      }
      video {
        width: 90%;
      }
      video.main {
        // position: absolute;
        top: 0;
        width: 80% !important;
        height: auto;
      }
    }
  }
  .bazdidemoon-page {
    @extend .common-in-pages;
    background-color: #fff;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .invitationRequests-page {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #fff;
  }
}

.seekerLine {
  position: absolute;
  top: 32%;
  left: 15%;
  width: 57%;
  .seekerLineIcon {
    width: 100%;
    height: 100%;
  }

  .seekerPoint {
    position: absolute;
    top: 0;
    left: 0%;
    width: 10%;
    height: 10%;
    // .seekerPointIcon {
    // }
  }
  .virtualSeekerLine {
    width: 100%;
  }
}

.likeEffect {
  position: fixed;
  top: 10%;
  left: 10%;
}
.cheshmzakhm {
  @extend .common;
  position: absolute;
  top: 40%;
  left: 20%;
}

.cheshmzakhmEffect {
  position: fixed;
  top: 10%;
  left: 10%;
}

.fixedMsgArea {
  // @extend .debug;
  position: fixed;
  bottom: 0;
  text-align: right;
  font-size: 1.2em;
  left: 10%;
  height: 15%;
  width: 80%;
}
